APPAPI/bin/Debug/netcoreapp3.1/APPAPI.deps.json
APPAPI/bin/Debug/netcoreapp3.1/APPAPI.dll
APPAPI/bin/Debug/netcoreapp3.1/APPAPI.exe
APPAPI/bin/Debug/netcoreapp3.1/APPAPI.pdb
APPAPI/bin/Debug/netcoreapp3.1/APPAPI.runtimeconfig.dev.json
APPAPI/bin/Debug/netcoreapp3.1/APPAPI.runtimeconfig.json
APPAPI/bin/Debug/netcoreapp3.1/appsettings.Development.json
APPAPI/bin/Debug/netcoreapp3.1/appsettings.json
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
APPAPI/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
APPAPI/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
APPAPI/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
APPAPI/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
APPAPI/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
APPAPI/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
APPAPI/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
APPAPI/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
APPAPI/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
APPAPI/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
APPAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
APPAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
APPAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
APPAPI/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
APPAPI/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
APPAPI/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
APPAPI/obj/APPAPI.csproj.EntityFrameworkCore.targets
APPAPI/obj/APPAPI.csproj.nuget.dgspec.json
APPAPI/obj/APPAPI.csproj.nuget.g.props
APPAPI/obj/APPAPI.csproj.nuget.g.targets
APPAPI/obj/project.assets.json
APPAPI/obj/project.nuget.cache
APPAPI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.AssemblyInfo.cs
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.AssemblyInfoInputs.cache
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.assets.cache
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.csproj.CopyComplete
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.csproj.CoreCompileInputs.cache
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.csproj.FileListAbsolute.txt
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.csprojAssemblyReference.cache
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.dll
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.exe
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.genruntimeconfig.cache
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.MvcApplicationPartsAssemblyInfo.cache
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.pdb
APPAPI/obj/Debug/netcoreapp3.1/APPAPI.RazorTargetAssemblyInfo.cache
APPAPI/obj/Debug/netcoreapp3.1/project.razor.json
APPAPI/obj/Debug/netcoreapp3.1/staticwebassets/APPAPI.StaticWebAssets.Manifest.cache
APPAPI/obj/Debug/netcoreapp3.1/staticwebassets/APPAPI.StaticWebAssets.xml
APPAPI/bin/Debug/netcoreapp3.1/CryptoHelper.dll
APPAPI/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
APPAPI/bin/Debug/netcoreapp3.1/System.DirectoryServices.dll
APPAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.DirectoryServices.dll
